<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2013-10-05-luogic.md</string>
		</array>
		<array>
			<string>2013-10-07-day11plus7.md</string>
		</array>
		<array>
			<string>2013-10-11-day14.md</string>
		</array>
		<array>
			<string>2013-10-22-day16.md</string>
		</array>
		<array>
			<string>2013-10-31-day24.md</string>
		</array>
		<array>
			<string>2013-10-9-day-13-meaningless.md</string>
		</array>
		<array>
			<string>2013-11-18-new-one.md</string>
		</array>
		<array>
			<string>2013-11-19-new-2nd.md</string>
		</array>
		<array>
			<string>2013-11-20-new-3rd.md</string>
		</array>
		<array>
			<string>2013-11-21-new-4th.md</string>
		</array>
		<array>
			<string>2013-11-24-new-5th.md</string>
		</array>
		<array>
			<string>2013-11-25-new-6th.md</string>
		</array>
		<array>
			<string>2013-11-26-new-7th.md</string>
		</array>
		<array>
			<string>2013-11-27-new-8th.md</string>
		</array>
		<array>
			<string>2013-11-28-new-9th.md</string>
		</array>
		<array>
			<string>2013-11-29-wet-life-changing.md</string>
		</array>
		<array>
			<string>2013-11-30-old-one-day.md</string>
		</array>
		<array>
			<string>2013-12-02-fall-analysis.md</string>
		</array>
		<array>
			<string>2013-12-06-vain-1st.md</string>
		</array>
		<array>
			<string>2013-12-14-new2-1st.md</string>
		</array>
		<array>
			<string>2013-12-15-GTD-vs-simplist.md</string>
		</array>
		<array>
			<string>2013-12-16-new2-2nd.md</string>
		</array>
		<array>
			<string>2013-12-17-new2-3rd.md</string>
		</array>
		<array>
			<string>2013-12-18-new2-4th.md</string>
		</array>
		<array>
			<string>2013-12-19-new2-5th.md</string>
		</array>
		<array>
			<string>2013-12-20-new2-6th.md</string>
		</array>
		<array>
			<string>2013-12-21-new2-7th.md</string>
		</array>
		<array>
			<string>2013-12-23-new3-1st.md</string>
		</array>
		<array>
			<string>2013-12-24-new3-2nd.md</string>
		</array>
		<array>
			<string>2013-12-25-new3-3rd.md</string>
		</array>
		<array>
			<string>2013-12-26-new3-4th.md</string>
		</array>
		<array>
			<string>2013-12-27-new3-5th.md</string>
		</array>
		<array>
			<string>2013-12-28-new3-6th.md</string>
		</array>
		<array>
			<string>2013-12-29-automation.md</string>
		</array>
		<array>
			<string>2013-12-29-new3-7th.md</string>
		</array>
		<array>
			<string>2013-12-30-new3-8th.md</string>
		</array>
		<array>
			<string>2013-12-31-new3-9th.md</string>
		</array>
		<array>
			<string>2013-9-16-day2.md</string>
		</array>
		<array>
			<string>2013-9-18-day3.md</string>
		</array>
		<array>
			<string>2013-9-26-day8.md</string>
		</array>
		<array>
			<string>2013-9-26-day9plus.md</string>
		</array>
		<array>
			<string>2014-01-01-new3-10th.md</string>
		</array>
		<array>
			<string>2014-01-02-new3-11th.md</string>
		</array>
		<array>
			<string>2014-01-03-new3-12th.md</string>
		</array>
		<array>
			<string>2014-01-04-new3-13th.md</string>
		</array>
		<array>
			<string>2014-01-05-new3-14th.md</string>
		</array>
		<array>
			<string>2014-01-06-new3-15th.md</string>
		</array>
		<array>
			<string>2014-01-07-new3-16th.md</string>
		</array>
		<array>
			<string>2014-01-08-new3-17th.md</string>
		</array>
		<array>
			<string>2014-01-09-new3-18th.md</string>
		</array>
		<array>
			<string>2014-01-10-new3-19th.md</string>
		</array>
		<array>
			<string>2014-01-11-new3-20th.md</string>
		</array>
		<array>
			<string>2014-01-12-new3-21st.md</string>
		</array>
		<array>
			<string>2014-01-13-new3-22nd.md</string>
		</array>
		<array>
			<string>2014-02-09-new4-1st.md</string>
		</array>
		<array>
			<string>2014-04-20-recreation.md</string>
		</array>
		<array>
			<string>2014-04-22-go-with-others.md</string>
		</array>
		<array>
			<string>2014-04-24-limited-freedom.md</string>
		</array>
		<array>
			<string>2014-04-25-cultural-texture.md</string>
		</array>
		<array>
			<string>2014-04-26-about-favorites.md</string>
		</array>
		<array>
			<string>2014-04-27-a-day-long-programming.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Home</string>
</dict>
</plist>
